<div class="flex between" id="select-reset">
  <form action="/reset" method="POST">
    <button class="reset confirm">Yes! Reset!</button>
  </form>
  <form action="/play">
    <button class="reset cancel">No! Take me back!</button>
  </form>
</div>
