* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  margin: 20px;
}

#flash {
  padding: 1em;
  background-color: #ff05;
}

.grid {
  display: grid;
  grid-template-rows: 150px 10px 150px 10px 150px;
  grid-template-columns: 150px 10px 150px 10px 150px;
}

.box,
.box form,
.box form button,
.marker {
  width: 150px;
  height: 150px;
}

.marker {
  position: relative;
  top: -160px;
  z-index: -1;
  font-size: 6em;
  text-align: center;
  vertical-align: center;
  padding: 25px;
}

.invisible {
  opacity: 0;
}


#ttt-board {
  width: 470px;
  height: 470px;
}

.divider {
  background-color: #000;
}
